@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --bg: #f0f4f9;
    --newchatbg: #e6eaf1;
    --grey: grey;
    --recent: #3f3f3f;
}

.sidebar {
    display: inline-flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg);
    padding: 25px 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.sidebar img {
    width: 20px;
}

.menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.newchat {
    margin-top: 25px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: var(--newchatbg);
    font-size: 14px;
    color: var(--grey);
    cursor: pointer;
}

.recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
    overflow-y: auto;
    height: 400px;
}

.recent::-webkit-scrollbar {
    display: none;
}

.recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.recent-entry {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 20px;
    color: var(--recent);
    border-radius: 8px;
}

.linkStyle {
    text-decoration: none;
    color: var(--recent);
}

.recent-entry:hover {
    background-color: var(--newchatbg);
    cursor: pointer;
}

.bottom {
    display: flex;
    flex-direction: column;
}

.bottom-item {
    padding-right: 10px;
    cursor: pointer;
}


@media (max-width:600px) {
    .sidebar {
        display: none;
    }
}


.modal {
    position: fixed;
    border: 1px solid black;
    padding: 20px;
    left: 150px;
    background-color: var(--bg);
    z-index: 10;
}

.modal h2 {
    font-size: 1.5rem;
    font-weight: 300;
}